:root {
  --white: white;
  --black: black;
}

.w-layout-blockcontainer {
  max-width: 940px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

@media screen and (max-width: 991px) {
  .w-layout-blockcontainer {
    max-width: 728px;
  }
}

@media screen and (max-width: 767px) {
  .w-layout-blockcontainer {
    max-width: none;
  }
}

.div-block {
  background-image: linear-gradient(190deg, #a89700, #ffe600 50%, #a89700);
  width: 100%;
  height: 70px;
}

.image {
  margin-left: 20px;
}

.sap-h {
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  color: #000;
  flex-flow: row;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: 15px;
  margin-left: 160px;
  padding-left: 0;
  font-size: 50px;
  display: flex;
  position: relative;
  top: -71px;
}

.button {
  background-image: url('https://d3e54v103j8qbb.cloudfront.net/img/background-image.svg');
  background-position: 0 0;
  background-size: auto;
  flex-flow: row;
  justify-content: center;
  align-items: center;
  width: 240px;
  margin-right: 70px;
  padding-top: 12px;
  display: flex;
  position: absolute;
  inset: 2% 0% auto auto;
}

.button.botonera {
  color: #000;
  background-image: linear-gradient(#0eaa00, #cf0);
  border-radius: 8px;
  font-family: Changa One, Impact, sans-serif;
  font-style: italic;
}

.section {
  width: 100%;
  height: 600px;
  margin-bottom: 0;
  padding-bottom: 0;
  position: static;
}

.image-2 {
  margin-left: auto;
  margin-right: auto;
  padding-top: 0;
  display: block;
  position: static;
}

.body {
  background-image: linear-gradient(#f5dd00, #c4de00);
}

.button-2 {
  color: #000;
  text-align: center;
  vertical-align: super;
  background-image: linear-gradient(#0eaa00, #cf0);
  border-radius: 18px;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  width: 650px;
  height: 60px;
  margin-top: -75px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 18px;
  font-family: Ubuntu, Helvetica, sans-serif;
  font-size: 55px;
  display: block;
  position: sticky;
}

.section-2 {
  background-color: red;
  background-image: radial-gradient(circle, #f5dd00, #c4de00);
  width: 100%;
  height: 800px;
}

.container {
  float: none;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  background-color: #000000a1;
  border-radius: 12px;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  justify-content: center;
  align-items: flex-start;
  width: 90%;
  height: 300px;
  margin: 0 auto auto;
  display: flex;
  position: relative;
  top: 36px;
}

.button-3 {
  width: 150px;
  height: 40px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  position: sticky;
}

.button-4 {
  color: #000;
  text-align: center;
  vertical-align: super;
  background-image: linear-gradient(#0eaa00, #cf0);
  border-radius: 18px;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 50px;
  margin-top: -500px;
  margin-left: 114px;
  margin-right: auto;
  padding-top: 16px;
  font-family: Ubuntu, Helvetica, sans-serif;
  font-size: 20px;
  display: block;
  position: absolute;
}

.button-5 {
  color: #000;
  text-align: center;
  vertical-align: super;
  background-image: linear-gradient(#0eaa00, #cf0);
  border-radius: 18px;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 50px;
  margin-top: -500px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 16px;
  font-family: Ubuntu, Helvetica, sans-serif;
  font-size: 20px;
  display: block;
  position: sticky;
}

.button-6 {
  color: #000;
  text-align: center;
  vertical-align: super;
  background-image: linear-gradient(#0eaa00, #cf0);
  border-radius: 18px;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 50px;
  margin-top: -500px;
  margin-left: 21px;
  margin-right: auto;
  padding-top: 16px;
  padding-left: 0;
  font-family: Ubuntu, Helvetica, sans-serif;
  font-size: 20px;
  display: block;
  position: sticky;
}

.button-7 {
  color: #000;
  text-align: center;
  vertical-align: super;
  background-image: linear-gradient(#0eaa00, #cf0);
  border-radius: 18px;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 50px;
  margin-top: -500px;
  margin-left: auto;
  margin-right: 114px;
  padding-top: 16px;
  font-family: Ubuntu, Helvetica, sans-serif;
  font-size: 20px;
  display: block;
  position: absolute;
  inset: 0% auto auto;
}

.container-2 {
  float: none;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  background-color: #000000a1;
  border-radius: 12px;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  justify-content: center;
  align-items: flex-start;
  width: 90%;
  height: 300px;
  margin: 0 auto auto;
  display: flex;
  position: relative;
  top: 36px;
}

.button-8 {
  color: #000;
  text-align: center;
  vertical-align: super;
  background-image: linear-gradient(#0eaa00, #cf0);
  border-radius: 18px;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  width: 650px;
  height: 60px;
  margin-top: 71px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 18px;
  font-family: Ubuntu, Helvetica, sans-serif;
  font-size: 55px;
  display: block;
  position: sticky;
}

.text-block {
  color: #fffefe;
  text-align: center;
  margin-top: 48px;
  padding-top: 0;
  font-family: Ubuntu, Helvetica, sans-serif;
  font-size: 30px;
  line-height: 40px;
}

.button-9 {
  color: #000;
  text-align: center;
  vertical-align: super;
  background-image: linear-gradient(#0eaa00, #cf0);
  border-radius: 18px;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 50px;
  margin-top: -500px;
  margin-left: auto;
  margin-right: 114px;
  padding-top: 16px;
  font-family: Ubuntu, Helvetica, sans-serif;
  font-size: 20px;
  display: block;
  position: absolute;
  right: 0;
}

.container-3 {
  z-index: 1000;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  object-fit: fill;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  width: 100%;
  height: 20px;
  margin-left: 0;
  margin-right: 0;
  line-height: 20px;
  display: block;
  position: fixed;
  inset: auto 0% 0%;
}

.text-block-2 {
  text-align: center;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  font-family: Ubuntu, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: 700;
  display: block;
}

.section-3 {
  z-index: 1000;
  background-image: linear-gradient(#ffe600, #a89700);
  width: 100%;
  height: 25px;
  position: fixed;
  inset: auto 0% 0%;
}

.button-10 {
  color: #000;
  text-align: center;
  background-image: linear-gradient(#0eaa00, #cf0);
  border-radius: 16px;
  width: 100px;
  height: 25px;
  padding-top: 3px;
  font-family: Ubuntu, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 700;
  position: absolute;
  inset: auto 0% 0% auto;
}

.utility-page-wrap {
  justify-content: center;
  align-items: center;
  width: 100vw;
  max-width: 100%;
  height: 100vh;
  max-height: 100%;
  display: flex;
}

.utility-page-content {
  text-align: center;
  flex-direction: column;
  width: 260px;
  display: flex;
}

.utility-page-form {
  flex-direction: column;
  align-items: stretch;
  display: flex;
}

.button-11 {
  background-image: linear-gradient(#0eaa00, #cf0);
  margin-left: auto;
  margin-right: auto;
}

.button-12 {
  z-index: auto;
  color: #000;
  text-align: center;
  vertical-align: super;
  background-image: linear-gradient(#0eaa00, #cf0);
  border-radius: 18px;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  width: 250px;
  height: 50px;
  margin-top: -500px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 16px;
  font-family: Ubuntu, Helvetica, sans-serif;
  font-size: 20px;
  display: block;
  position: relative;
  inset: 0% 0% auto -13%;
}

.button-13 {
  z-index: auto;
  color: #000;
  text-align: center;
  vertical-align: super;
  background-image: linear-gradient(#0eaa00, #cf0);
  border-radius: 18px;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  width: 270px;
  height: 50px;
  margin-top: auto;
  margin-left: auto;
  margin-right: auto;
  padding-top: 16px;
  font-family: Ubuntu, Helvetica, sans-serif;
  font-size: 20px;
  display: block;
  position: relative;
  inset: -50px 0 0% 13%;
}

.button-14 {
  background-image: url('https://d3e54v103j8qbb.cloudfront.net/img/background-image.svg');
  background-position: 0 0;
  background-size: auto;
  flex-flow: row;
  justify-content: center;
  align-items: center;
  width: 240px;
  margin-right: 70px;
  padding-top: 12px;
  display: flex;
  position: absolute;
  inset: 2% 0% auto auto;
}

.button-14.botonera {
  color: #000;
  background-image: linear-gradient(red, #cf0);
  border-radius: 8px;
  width: 140px;
  margin-right: 17px;
  font-family: Changa One, Impact, sans-serif;
  font-style: italic;
}

.button-15 {
  background-image: url('https://d3e54v103j8qbb.cloudfront.net/img/background-image.svg');
  background-position: 0 0;
  background-size: auto;
  flex-flow: row;
  justify-content: center;
  align-items: center;
  width: 240px;
  margin-right: 70px;
  padding-top: 12px;
  display: flex;
  position: absolute;
  inset: 2% 0% auto auto;
}

.button-15.botonera {
  color: #000;
  text-align: center;
  background-image: linear-gradient(#00d1ff, #02968d);
  border-radius: 8px;
  width: 170px;
  margin-right: 17px;
  font-family: Changa One, Impact, sans-serif;
  font-style: italic;
  right: 10%;
}

.button-16 {
  background-image: url('https://d3e54v103j8qbb.cloudfront.net/img/background-image.svg');
  background-position: 0 0;
  background-size: auto;
  flex-flow: row;
  justify-content: center;
  align-items: center;
  width: 240px;
  margin-right: 70px;
  padding-top: 12px;
  display: flex;
  position: absolute;
  inset: 2% 0% auto auto;
}

.button-16.botonera {
  color: #000;
  background-image: linear-gradient(#0eaa00, #cf0);
  border-radius: 8px;
  font-family: Changa One, Impact, sans-serif;
  font-style: italic;
}

.container-4 {
  float: none;
  clear: none;
  background-color: #000000d1;
  border-radius: 60px;
  width: 900px;
  height: 530px;
  position: absolute;
  inset: 110px 0% 0%;
}

.heading {
  color: #fff;
  text-align: center;
  flex-flow: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: 25px;
  display: flex;
}

.div-block-2 {
  flex-flow: column;
  justify-content: center;
  align-items: center;
  height: 50px;
  display: flex;
  position: relative;
  top: -9px;
}

.image-3 {
  vertical-align: top;
  width: 100px;
  height: 100px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.div-block-3 {
  padding-top: 20px;
}

.div-block-4 {
  height: 300px;
}

.field-label {
  color: #fff;
  width: 300px;
}

.field-label-2 {
  color: #fff;
  width: 300px;
  position: relative;
}

.campotexto {
  color: #000;
  background-color: #9f5050;
  background-image: linear-gradient(#00ff85, #00ab97);
  border-radius: 10px;
  width: 300px;
  height: 40px;
  font-family: Ubuntu, Helvetica, sans-serif;
  font-size: 20px;
  font-style: italic;
  font-weight: 500;
  position: relative;
}

.campotexto:focus {
  background-image: linear-gradient(#00ff85, #00ab97 0%);
}

.campotexto::placeholder {
  color: #525874;
}

.campotexto.text-field {
  background-color: #fff;
}

.form {
  height: 300px;
  margin-left: 40px;
  margin-right: 40px;
  position: relative;
}

.form:focus {
  background-color: #0000;
}

.field-label-3 {
  color: #fff;
  width: 300px;
  position: relative;
  top: -150px;
  left: 500px;
  right: auto;
}

.text-field {
  position: relative;
  top: -150px;
  left: 500px;
}

.field-label-4 {
  position: relative;
  top: -150px;
}

.textarea {
  opacity: 1;
  color: #000;
  column-count: auto;
  background-image: linear-gradient(#00ff85, #00ab97);
  border-radius: 11px;
  min-width: auto;
  height: auto;
  min-height: auto;
  font-family: Ubuntu, Helvetica, sans-serif;
  font-size: 20px;
  font-weight: 500;
  position: relative;
  top: -150px;
}

.textarea::placeholder {
  color: #000;
}

.submit-button {
  color: #000;
  background-image: linear-gradient(red, #f5dd00);
  border-radius: 20px;
  margin-left: 320px;
  margin-right: 320px;
  font-family: Ubuntu, Helvetica, sans-serif;
  font-size: 20px;
  font-weight: 700;
  position: relative;
  inset: -150px 0% 0%;
}

.form-block {
  margin-top: 10px;
  margin-bottom: 0;
}

.success-message {
  background-image: linear-gradient(#767dff, #00c8ff);
  position: relative;
  top: 27px;
}

.text-block-3 {
  color: #000;
  text-align: center;
  width: auto;
  height: 50px;
  padding-top: 12px;
  font-size: 45px;
}

.image-4 {
  width: 100px;
  height: 100px;
}

.text-block-4 {
  color: #000;
  text-align: center;
  font-family: Ubuntu, Helvetica, sans-serif;
  font-size: 20px;
  font-weight: 500;
}

.error-message {
  background-color: #ff8787;
  border-radius: 18px;
  width: 500px;
  position: absolute;
  inset: auto 0% 4% 23%;
}

.container-5 {
  flex-flow: column;
  justify-content: flex-start;
  align-items: center;
  height: 350px;
  display: flex;
}

.form-block-2 {
  width: 400px;
}

.textinil {
  color: #fff;
  font-family: Ubuntu, Helvetica, sans-serif;
  font-size: 20px;
}

.div-block-5 {
  flex-flow: column;
  align-items: center;
  width: 100%;
  height: 199px;
  margin-top: 30px;
  display: flex;
}

.div-block-6 {
  flex-flow: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 120px;
  display: flex;
}

.div-block-6.imgreg {
  justify-content: center;
  align-items: center;
  height: 80px;
  margin-top: -17px;
}

.image-5 {
  width: 140px;
}

.image-5.imgreg,
.image-5.imgregp {
  width: 100px;
}

.form-2 {
  flex-flow: column;
  align-items: center;
  display: flex;
}

.submit-button-2 {
  color: #000;
  background-image: linear-gradient(#00f2ff, #004894);
  border-radius: 9px;
  margin-top: 13px;
  font-family: Ubuntu, Helvetica, sans-serif;
  font-size: 15px;
  font-style: italic;
  font-weight: 700;
}

.success-message-2 {
  background-image: linear-gradient(#0eaa00, #cf0);
  border-radius: 17px;
  margin-top: 50px;
}

.text-block-5 {
  color: #000;
  font-family: Ubuntu, Helvetica, sans-serif;
  font-size: 20px;
  font-weight: 700;
}

.error-message-2 {
  background-color: #fabbbb;
  border-radius: 12px;
  margin-top: 0;
}

.text-block-6 {
  color: #000;
  text-align: center;
  font-family: Ubuntu, Helvetica, sans-serif;
  font-weight: 700;
}

.container-6 {
  float: none;
  clear: none;
  background-color: #000000d1;
  border-radius: 60px;
  flex-flow: column;
  align-items: center;
  width: 900px;
  height: 550px;
  margin-top: -21px;
  display: flex;
  position: absolute;
  inset: 110px 0% 0%;
}

.div-block-7 {
  flex-flow: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: -31px;
  display: flex;
}

.image-6 {
  width: 700px;
  max-width: 100%;
  height: 500px;
}

.button-17 {
  flex-flow: column;
  justify-content: center;
  align-items: center;
  display: flex;
}

.div-block-8 {
  flex-flow: column;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 21px;
  display: flex;
  position: absolute;
  inset: auto 0% 0%;
}

.button-18 {
  color: #000;
  background-image: linear-gradient(red, #cf0);
  border-radius: 9px;
  margin-top: 40px;
  font-family: Ubuntu, Helvetica, sans-serif;
  font-size: 15px;
  font-style: italic;
  font-weight: 700;
}

.form-block-reg {
  width: 400px;
}

.div-block-9 {
  flex-flow: row;
  justify-content: center;
  align-items: flex-start;
  width: 50%;
  height: auto;
  margin-top: 30px;
  display: flex;
}

.container-7 {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  flex-flow: column;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  justify-content: center;
  align-items: flex-start;
  height: 350px;
  margin-left: 30px;
  display: inline-flex;
}

.div-block-10 {
  flex-flow: row;
  justify-content: center;
  align-items: flex-start;
  width: 50%;
  height: auto;
  margin-top: 30px;
  display: flex;
}

.container-8 {
  float: none;
  clear: none;
  background-color: #000000d1;
  border-radius: 60px;
  flex-flow: column;
  align-items: center;
  width: 900px;
  height: 530px;
  display: flex;
  position: absolute;
  inset: 110px 0% 0%;
}

.container-9 {
  width: 100%;
  display: flex;
}

.form-block-3 {
  flex-flow: row-reverse wrap;
  justify-content: flex-start;
  align-items: stretch;
  width: 50%;
  display: flex;
}

.textinildoc {
  color: #fff;
  width: 44%;
  margin-right: 50px;
  font-family: Ubuntu, Helvetica, sans-serif;
  font-size: 20px;
}

.campotextodoc {
  color: #000;
  background-color: #9f5050;
  background-image: linear-gradient(#00ff85, #00ab97);
  border-radius: 10px;
  width: 44%;
  height: 40px;
  margin-right: 50px;
  font-family: Ubuntu, Helvetica, sans-serif;
  font-size: 20px;
  font-style: italic;
  font-weight: 500;
  position: relative;
}

.campotextodoc:focus {
  background-image: linear-gradient(#00ff85, #00ab97 0%);
}

.campotextodoc::placeholder {
  color: #525874;
}

.campotextodoc.text-field {
  background-color: #fff;
}

.form-3 {
  flex-flow: wrap;
  display: flex;
}

.section-5 {
  margin-left: 25px;
  margin-right: 25px;
}

.submit-button-3 {
  margin-left: 360px;
  margin-right: 360px;
}

.textinildoc2 {
  color: #fff;
  width: 100%;
  margin-right: 50px;
  font-family: Ubuntu, Helvetica, sans-serif;
  font-size: 20px;
}

.campotextodoc2 {
  color: #000;
  background-color: #9f5050;
  background-image: linear-gradient(#00ff85, #00ab97);
  border-radius: 10px;
  width: 100%;
  height: 80px;
  margin-right: 50px;
  font-family: Ubuntu, Helvetica, sans-serif;
  font-size: 20px;
  font-style: italic;
  font-weight: 500;
  position: relative;
}

.campotextodoc2:focus {
  background-image: linear-gradient(#00ff85, #00ab97 0%);
}

.campotextodoc2::placeholder {
  color: #525874;
}

.campotextodoc2.text-field {
  background-color: #fff;
}

.submit-button-4 {
  color: #000;
  background-image: linear-gradient(#00f2ff, #004894);
  border-radius: 9px;
  margin-top: 13px;
  font-family: Ubuntu, Helvetica, sans-serif;
  font-size: 15px;
  font-style: italic;
  font-weight: 700;
}

.success-message-3 {
  color: #000;
  background-image: linear-gradient(#09ffa5, #02725f);
  border-radius: 18px;
  font-family: Ubuntu, Helvetica, sans-serif;
  font-size: 18px;
  font-weight: 700;
  position: relative;
  top: 170px;
}

.text-block-7 {
  text-align: center;
  font-family: Ubuntu, Helvetica, sans-serif;
  font-weight: 500;
}

.imagep {
  width: 140px;
}

.imagep.imgreg {
  width: 100px;
}

.imagep.imgregp {
  width: 120px;
}

.text-block-8 {
  color: #fff;
  font-family: Ubuntu, Helvetica, sans-serif;
  display: block;
  position: relative;
  top: -50px;
}

.div-block-11 {
  flex-flow: column;
  align-items: center;
  width: 100%;
  height: auto;
  margin-top: 0;
  display: flex;
}

.campotextopd {
  color: #000;
  background-color: #9f5050;
  background-image: linear-gradient(#00ff85, #00ab97);
  border-radius: 10px;
  width: 600px;
  height: 70px;
  font-family: Ubuntu, Helvetica, sans-serif;
  font-size: 20px;
  font-style: italic;
  font-weight: 500;
  position: relative;
}

.campotextopd:focus {
  background-image: linear-gradient(#00ff85, #00ab97 0%);
}

.campotextopd::placeholder {
  color: #525874;
}

.campotextopd.text-field {
  background-color: #fff;
}

.submitbutton2p {
  color: #000;
  background-image: linear-gradient(#00f2ff, #004894);
  border-radius: 9px;
  margin-top: auto;
  font-family: Ubuntu, Helvetica, sans-serif;
  font-size: 15px;
  font-style: italic;
  font-weight: 700;
}

.container-10 {
  float: none;
  clear: none;
  background-color: #000000d1;
  border-radius: 60px;
  width: 900px;
  height: 530px;
  position: absolute;
  inset: 110px 0% 0%;
}

.container-11 {
  float: none;
  clear: none;
  background-color: #000000d1;
  border-radius: 60px;
  width: 100%;
  height: 530px;
  position: absolute;
  inset: 110px 0% 0%;
}

.section-6 {
  background-color: #0b0b0b;
  border-radius: 20px;
  flex-flow: column;
  align-items: center;
  width: 80%;
  height: 550px;
  margin-top: 100px;
  margin-left: 150px;
  padding-left: 0;
  display: flex;
  position: absolute;
  inset: 0% 0% auto;
}

.section-7 {
  flex-flow: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 10%;
  display: flex;
}

.section-8 {
  flex-flow: wrap;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  height: 90%;
  padding-top: 20px;
  padding-left: 30px;
  padding-right: 0;
  display: flex;
}

.heading-2 {
  color: #fff;
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
}

.div-block-12 {
  background-color: #000;
  background-image: linear-gradient(#00c2ff, #024576);
  border-radius: 13px;
  flex-flow: wrap;
  width: 500px;
  height: 200px;
  margin-right: 30px;
  display: flex;
}

.div-block-13 {
  flex-flow: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 100%;
  display: flex;
}

.image-7 {
  width: 80%;
  height: 80%;
}

.text-block-9,
.text-block-10 {
  color: #000;
  width: 80%;
  height: 10%;
  font-family: Ubuntu, Helvetica, sans-serif;
  font-weight: 700;
}

.text-block-10.campotexto {
  background-image: linear-gradient(#00ff85, #00ab97);
}

.text-block-11 {
  color: #1c2138;
  background-image: linear-gradient(#00ff85, #00ab97);
  border-radius: 4px;
  width: 80%;
  height: 12%;
  font-family: Ubuntu, Helvetica, sans-serif;
  font-weight: 700;
}

.div-block-14 {
  grid-column-gap: 27px;
  grid-row-gap: 27px;
  flex-flow: row;
  justify-content: center;
  width: 50%;
  height: 40px;
  display: flex;
}

.button-19 {
  color: #000;
  background-image: linear-gradient(red, #f5dd00);
  border-radius: 8px;
  font-family: Ubuntu, Helvetica, sans-serif;
  font-weight: 700;
}

.button-20 {
  color: #000;
  background-image: linear-gradient(#0088c7, #025e63);
  border-radius: 8px;
  flex-flow: column;
  justify-content: flex-start;
  align-items: center;
  width: 30%;
  margin: 0 auto; 
  font-family: Ubuntu, Helvetica, sans-serif;
  font-weight: 700;
  display: flex;
  justify-content: center;
}



.button-21 {
  color: #000;
  background-image: linear-gradient(#0088c7, #025e63);
  border-radius: 8px;
  font-family: Ubuntu, Helvetica, sans-serif;
  font-weight: 700;
  display: block; 
  width: 150px; 
  margin: 0 auto; 
  text-align: center; 
  padding: 10px 20px; 
}

@media screen and (max-width: 991px) {
  .section-8 {
    padding-left: 20px;
  }
}


